/* --- Footer --- */

footer {
    color: #fff;
    background-color:#000;
    line-height: 32px;
    padding: 50px 15px;

    hr {
        border: 0.5px solid $yellow-two;
        margin: 30px 0;
        opacity: 1;
    }

    a {
        color: #fff;
        text-decoration: none;
        font-weight: 400;

        &:hover {
            color: map-get($colors ,yellowTwo);
        }
    }

    .alignLeft {
        text-align: left;
    }
}

/* ------ Media Queries ------*/

@media (min-width: 768px) {
    .footerList li {
        display:inline-block;
        border-right: 1px solid $yellow-two;
        padding-right: 0.5rem;

        &:nth-last-child(1) {
            border-right: 0;
        }
    }
}

@media (min-width: 900px) {
    footer .alignLeft {
        text-align: right;
    }
}