/* --- Highlights ---*/

.textHighlighted {
    color: $primary-color;
}

.text-subtle {
    color: $grey-one;
}

.cardHighlighted {
    background-color: $terciary-color;
}

.cardHighlighted-2 {
    background-color: $grey-four;
}

.highlightedSection {
    background-image: linear-gradient(to right, #fff, $yellow-three);
}