/* --- Highlights ---*/

.text-highlighted {
    color: $primary-color;
}

.text-subtle {
    color: $grey-one;
}

.box-highlighted {
    background-color: $terciary-color;
}

.highlightedSection {
    background-image: linear-gradient(to right, #fff, $yellow-three);
}