/* --- Home ---*/

.heroSection {
    background: url(../images/hero-img-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 276px;
    position: relative;
    border-bottom: 6px solid $primary-color;
}

.heroSection__text {
    background-color:#000;
    position: absolute;
    font-size: 18px;
    line-height: 30px;
    width: 100%;
    bottom: 0px;
    text-align: center;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 0;
}

.amenitiBox {
    i {
        font-size: 42px;
        color: $primary-color;
    }

    .card {
        background-color: #ffe89f3b;
        padding: 15px;
        border-color: #d7a71466;
    }
}

.locationSection iframe {
    height: 400px;
}

.locationDescription {
    padding-top: 30px;
}

.animated {
    opacity: 1;
    animation: fade 2s linear;
}

@keyframes fade {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

/* -------------- MEDIA QUERIES -------------- */

@media (min-width: 550px) {
    .heroSection {
        background: url(../images/hero-img-tablet.jpg);
    }
    
    .heroSection__text {
        background-color: transparent;
        font-size: 20px;
        line-height: 30px;
        width: 220px;
        left: 55%;
        top: 30%;
        color:#000;
        text-align: left;
        padding: 0;
    }
}

@media (min-width: 700px) {
    .heroSection {
        background: url(../images/hero-img-tablet.jpg);
    }

    .heroSection__text {
        text-align: left;
        font-size: 25px;
        line-height: 35px;
        width: 300px;
        left: 50%;
        top: 30%;
    }
}

@media (min-width: 768px) {
    .heroSection {
        background: url(../images/hero-img.jpg);
        height: 450px;
    }

    .heroSection__text {
        font-size: 40px;
        left: 5%;
        top: 15%;
        width: 500px;
        line-height: 60px;
    }
}

@media (min-width: 900px) {
    .heroSection {
        height: 640px;
    }

    .heroSection__text {
        background-color: transparent;
        font-size: 40px;
        top: 15%;
        left: 5%;
    } 
}

@media (min-width: 1300px) {
    .heroSection__text {
        background-color: transparent;
        font-size: 40px;
        top: 15%;
        left: 60%;
    }  
}