/*--- Maps ---*/

$colors: (
    primaryColor: #d8a814,
    secondaryColor: #949494,
    terciaryColor: #fff4d2,

    yellowOne: #F0C12E,
    yellowTwo: #FEDB74,
    yellowThree: #e2c56c,

    greyOne: rgb(136, 136, 136),
    greyTwo: #4E4E4E,
    greyThree: #c0c0c0,
    greyFour: #f2f2f2,

    linksColor: #957512,
);