/* --- Variables ---*/

$primary-color: #d8a814;
$secondary-color: #949494;
$terciary-color: #fff4d2;

/* --- Yellow ---*/
$yellow-one: #F0C12E;
$yellow-two: #FEDB74;
$yellow-three: #e2c56c;

/* --- Grey ---*/
$grey-one: rgb(136, 136, 136);
$grey-two: #4E4E4E;
$grey-three: #c0c0c0;
$grey-four: #f2f2f2;

$links-color: #957512;

$shadow:rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
$primary-shadow:0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
$secondary-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
