/* --- Variables ---*/
/* --- Yellow ---*/
/* --- Grey ---*/
/* --- Footer --- */
footer {
  color: #fff;
  background-color: #000;
  line-height: 32px;
  padding: 50px 15px;
}
footer hr {
  border: 0.5px solid #FEDB74;
  margin: 30px 0;
  opacity: 1;
}
footer a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
}
footer a:hover {
  color: #FEDB74;
}
footer .alignLeft {
  text-align: left;
}

/* ------ Media Queries ------*/
@media (min-width: 768px) {
  .footerList li {
    display: inline-block;
    border-right: 1px solid #FEDB74;
    padding-right: 0.5rem;
  }
  .footerList li:nth-last-child(1) {
    border-right: 0;
  }
}
@media (min-width: 900px) {
  footer .alignLeft {
    text-align: right;
  }
}
/* --- Header --- */
header {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/*--- Bootstrap Overrides ---*/
a {
  color: #957512;
}

mark {
  background-color: #F0C12E;
}

.nav-link {
  transition: none;
}

.nav-link:hover {
  border-bottom: 0;
}

.btn {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
}
.btn:focus {
  background-color: #d8a814;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
}
.btn:active:focus {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.btn-check:focus + .btn {
  background-color: #d8a814;
}

.btn-primary {
  background-color: #d8a814;
  color: #fff;
}
.btn-primary:hover {
  background-color: #000;
}

.btn-secondary {
  background-color: #949494;
  color: #fff;
}
.btn-secondary:hover {
  background-color: #4E4E4E;
}

.cardAnimated {
  border: 0;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow;
}
.cardAnimated:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.offcanvas-header {
  background-image: linear-gradient(to right, #fff4d2, #fff);
  padding: 30px;
  color: #4E4E4E;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.offcanvas-header .btn-close {
  float: right;
  margin-top: 2px;
}

.offcanvas-body {
  padding: 30px;
}
.offcanvas-body p {
  color: rgb(136, 136, 136);
}

.carousel-inner {
  min-height: 390px;
}

.carousel-indicators {
  position: relative;
  display: block;
  float: right;
  margin: 0;
}
.carousel-indicators [data-bs-target] {
  background-color: #d8a814;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

@media (max-width: 1201px) {
  .carousel-inner {
    min-height: 420px;
  }
  .groups-list {
    min-height: 375px;
  }
  .groups-list .cardAnimated {
    min-height: 375px;
  }
}
/* ------ Media Queries ------*/
@media (min-width: 900px) {
  .nav-link:hover {
    border-bottom: 3px solid #F0C12E;
  }
  .navbar-nav .nav-link.active, .navbar-nav .show > .nav-link {
    border-bottom: 3px solid #F0C12E;
  }
}
/* --- Highlights ---*/
.textHighlighted {
  color: #d8a814;
}

.text-subtle {
  color: rgb(136, 136, 136);
}

.cardHighlighted {
  background-color: #fff4d2;
}

.cardHighlighted-2 {
  background-color: #f2f2f2;
}

.highlightedSection {
  background-image: linear-gradient(to right, #fff, #e2c56c);
}

/* Typography */
h3.light-header {
  font-weight: 300;
  line-height: 40px;
}

/* --- Home ---*/
.heroSection {
  background: url(../images/hero-img-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 276px;
  position: relative;
  border-bottom: 6px solid #d8a814;
}

.heroSection__text {
  background-color: #000;
  position: absolute;
  font-size: 18px;
  line-height: 30px;
  width: 100%;
  bottom: 0px;
  text-align: center;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 0;
}

.amenitiBox i {
  font-size: 42px;
  color: #d8a814;
}
.amenitiBox .card {
  background-color: rgba(255, 232, 159, 0.231372549);
  padding: 15px;
  border-color: rgba(215, 167, 20, 0.4);
}

.locationSection iframe {
  height: 400px;
}

.locationDescription {
  padding-top: 30px;
}

.animated {
  opacity: 1;
  -webkit-animation: fade 2s linear;
          animation: fade 2s linear;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* -------------- MEDIA QUERIES -------------- */
@media (min-width: 550px) {
  .heroSection {
    background: url(../images/hero-img-tablet.jpg);
  }
  .heroSection__text {
    background-color: transparent;
    font-size: 20px;
    line-height: 30px;
    width: 220px;
    left: 55%;
    top: 30%;
    color: #000;
    text-align: left;
    padding: 0;
  }
}
@media (min-width: 700px) {
  .heroSection {
    background: url(../images/hero-img-tablet.jpg);
  }
  .heroSection__text {
    text-align: left;
    font-size: 25px;
    line-height: 35px;
    width: 300px;
    left: 50%;
    top: 30%;
  }
}
@media (min-width: 768px) {
  .heroSection {
    background: url(../images/hero-img.jpg);
    height: 450px;
  }
  .heroSection__text {
    font-size: 40px;
    left: 5%;
    top: 15%;
    width: 500px;
    line-height: 60px;
  }
}
@media (min-width: 900px) {
  .heroSection {
    height: 640px;
  }
  .heroSection__text {
    background-color: transparent;
    font-size: 40px;
    top: 15%;
    left: 5%;
  }
}
@media (min-width: 1300px) {
  .heroSection__text {
    background-color: transparent;
    font-size: 40px;
    top: 15%;
    left: 60%;
  }
}
/* --- Events ---*/
.img-event {
  width: 100%;
  height: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  min-height: 236px;
}

.sticky-month {
  position: -webkit-sticky;
  position: sticky;
  top: 5.3rem;
  right: 0;
  z-index: 2;
  overflow-y: auto;
  background-image: linear-gradient(to right, #fff4d2, #fff);
  padding: 10px 10px 6px 10px;
}

/* ------ Media Queries ------*/
@media (min-width: 700px) {
  .eventSection .cardAnimated {
    min-height: 460px;
  }
}
@media (min-width: 991px) {
  .img-event {
    min-height: 305px;
    max-height: 305px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0;
  }
  .eventSection .cardAnimated {
    min-height: 305px;
  }
}
@media (min-width: 1100px) {
  .img-event {
    max-height: 236px;
  }
  .eventSection .cardAnimated {
    min-height: 236px;
  }
}
@media (min-width: 1400px) {
  .img-event {
    max-height: 236px;
    min-height: 236px;
  }
  .eventSection .cardAnimated {
    min-height: 236px;
  }
}
/*--- 404 page ---*/
.blank-page {
  padding-top: 60px;
}

.blank-image {
  width: 900px;
}

/* ------ Media Queries ------*/
@media (min-width: 400px) {
  .blank-image {
    width: 400px;
  }
}
@media (min-width: 600px) {
  .blank-image {
    width: 700px;
  }
}
@media (min-width: 900px) {
  .blank-image {
    width: 800px;
  }
}
/*--- Benefits ---*/
@media (min-width: 900px) {
  .benefitItems {
    margin-top: 30px;
  }
}
/* --- Contact ---*/
@media (min-width: 991px) {
  .contactSection__form {
    border-right: 1px solid #c0c0c0;
  }
}/*# sourceMappingURL=styles.css.map */